

@media (max-width: 1222px){
    #container{
        padding: 50px;
    }

    #workflow .tools .item{
        width: 250px;
        height: 80%;
    }

    #details .mac-img{
        margin-right: 0px;
    }

    #details .mac-img img{
        width: 100%;
    }

    #details .feature{
        position: relative;
        right: 80px;
    }

    #details .feature .item{
        margin-right: 0px;
    }

    .option{
        margin-right: 150px;
    }
}

@media (max-width: 860px){
    .option{
        margin: 40px;
    }

    #header, #info, #available, #access p{
        width: 500px;
    }
}

@media (max-width: 768px){
    body{
        background: url(images/bg-header-mobile.png) no-repeat;
        background-size: 100%;
        width: 100%;
        font-family: 'Bai Jamjuree', sans-serif;
    }

    h1{font-size: 35px;}
    h2{font-size: 25px;}

    #container{
        margin: 20px;
        padding: 10px;
    }

    .download{
        flex-direction: column;
    }
    .download a{
        width: 200px;
        margin: 10px auto;
        padding: 12px 30px;
    }


    #details{
        flex-direction: column;
    }

    #details .mac-img{
        right: 0;
        margin: 20px;
    }

    #details .feature{
        text-align: center;
        width: 300px;
        margin: 10px auto;
        right: 0;
    }

    #details .feature .item{
        margin: 30px 0;
    }

    #workflow .tools{
        flex-direction: column;
        margin: 10px;
    }
    #workflow .tools .item{
        width: 100%;
        height: 100%;
    }

    .tools p{
        margin: 10px;
    }

    #access{
        padding: 0;
    }

    #access img{
        width: 100%;
        margin: 40px 0;
    }

    #companies{
        margin: 30px 0;
    }

    #companies img{
        margin: 20px;
    }

    #header, #info, #available, #access p{
        width: 100%;
    }

    footer{
        text-align: center;
        flex-direction: column;
        padding: 20px;
    }

    .option{
        grid-template-columns: 1fr;
    }

}